.css-transition{

width: 100px;
height: 100px;
background-color: red;

/* -----------TRANSITION-----------
1.transition
2.transition-delay
3.transition-duration
4.transition-property
5.transition-timing-function

transition: property duration timing-function delay; 
*/
transition: transform 2s linear 0s;

/* -----------TRANSITION-TIMING-FUNCTION-----------
The transition-timing-function property specifies the speed curve of the transition effect.
The transition-timing-function property can have the following values:

1.ease - specifies a transition effect with a slow start, then fast, then end slowly (this is default)
2.linear - specifies a transition effect with the same speed from start to end
3.ease-in - specifies a transition effect with a slow start
4.ease-out - specifies a transition effect with a slow end
5.ease-in-out - specifies a transition effect with a slow start and end
6.cubic-bezier(n,n,n,n) - lets you define your own values in a cubic-bezier function 
*/
transition-timing-function: linear;

/* -----------TRANSITION-DELAY-----------
The transition-delay property specifies a delay (in seconds) for the transition effect. 
*/
transition-delay: 0s;

/* -----------TRANSITION-DURATION-----------
The transition-duration property specifies the duration of the transition effect. 
*/
transition-duration: 5s;

/* -----------TRANSITION-PROPERTY-----------
The transition-property property specifies the name of the CSS property the transition effect is for (the transition effect will start when the specified CSS property changes).
1. none - specifies that no transition effect should be applied
2. all - specifies that all CSS properties should transition
3. property1, property2, property3,... - specifies the CSS properties that should transition 
*/
transition-property: transform;

}

.css-transition:hover{
    transform: rotate(45deg);
}