/* The CSS height and width properties are used to set the height and width of an element.
The CSS max-width property is used to set the maximum width of an element. */


.hw{
    background-color: yellow;
    height: 200px;
    width: 300px;
    max-width: 500px;
}
